body{
  background-color: white !important;
}

a,ul,ol,li,h1,h2,h3,h4,h5,h6{
  font-family: Arial, sans-serif;
  color: black;
}

.max-width{
  max-width: 900px;
  margin: 0 auto;
}

.align-top{
  vertical-align: top;
}